<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Personales</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>
<body id="body-datos">
    <!--Menú-->
    <nav>
        <ul id="lista-menu">
            <li class="lista-menu"><a href="../index.html" class="menu">Inicio</a></li>
            <li class="lista-menu"><a href="./Datos-personales.html" class="menu">Datos Personales</a></li>
            <li class="lista-menu"><a href="./Perfil-experiencia.html" class="menu">Perfil/Experiencia</a></li>
            <li class="lista-menu"><a href="./Formación-habilidades.html" class="menu">Formación/Habilidades</a></li>
        </ul>
    </nav>
    <!--Div con lista de datos personales-->
    <div id="datos">
        <ul id="lista-datos">
            <li class="datos">Nombre: Gonzalo Franco García</li>
            <li class="datos">Edad: 21 años</li>
            <li class="datos">Correo electrónico: gonzalofrancogarcia2002@gmail.com</li>
            <li class="datos">Teléfono: 652397317</li>
            <li class="datos">Localidad: 41720 - Los Palacios y Villafranca</li>
        </ul>
    </div>
    <!--Footer con los enlaces de las distintas redes-->
    <footer id="footer-datos">
        <a class="redes" href="https://www.instagram.com/gonzalofg25/"><img src="../Imagenes/instagram.png" alt="instagram"></a>
        <a class="redes" href="https://www.linkedin.com/in/gonzalo-franco-garc%C3%ADa-4837232ab/"><img src="../Imagenes/linkedin.png" alt="linkedin"></a>
        <a class="redes" href="https://github.com/GonzaloFG-25"><img src="../Imagenes/github.png" alt="github"></a>
    </footer>
</body>
</html>