<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formación/Habilidades</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>
<body>
    <!--Menú-->
    <nav>
        <ul id="lista-menu">
            <li class="lista-menu"><a href="../index.html" class="menu">Inicio</a></li>
            <li class="lista-menu"><a href="Datos-personales.html" class="menu">Datos Personales</a></li>
            <li class="lista-menu"><a href="Perfil-experiencia.html" class="menu">Perfil/Experiencia</a></li>
            <li class="lista-menu"><a href="Formación-habilidades.html" class="menu">Formación/Habilidades</a></li>
        </ul>
    </nav>
    <!--Div que contiene un h2 y una lista de la formación-->
    <div id="formacion">
        <h2 id="for">Formación</h2>
        <ul>
            <li class="lis-for">Grado Medio Sistemas Microinformáticos y Redes: 2019-2022</li>
            <br/>
            <li class="lis-for">Grado Superior Desarrollo de Aplicaciones Web: 2022-2024</li>
        </ul>
    </div>
    <!--Div que contiene las habilidades adquiridas-->
    <div id="habilidades">
        <h2 id="hab">Habilidades</h2>
        <!--Habilidades Java-->
        <p class="hab">Java</p>
        <div class="progress-bar">
            <div id="java"></div>
        </div>
        <br>
        <!--Habilidades HTML-->
        <p class="hab">HTML</p>
        <div class="progress-bar">
            <div id="html"></div>
        </div>
        <br>
        <!--Habilidades CSS-->
        <p class="hab">CSS</p>
        <div class="progress-bar">
            <div id="css"></div>
        </div>
        <br>
        <!--Habilidades JavaScript-->
        <p class="hab">JavaScript</p>
        <div class="progress-bar">
            <div id="js"></div>
        </div>
        <br>
        <!--Habilidades React-->
        <p class="hab">React</p>
        <div class="progress-bar">
            <div id="react"></div>
        </div>
    </div>
    
</body>
</html>