<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil/Experiencia</title>
    <link rel="stylesheet" href="../assets/styles.css" />
  </head>
  <body>
    <!--Menú-->
    <nav>
      <ul id="lista-menu">
        <li class="lista-menu">
          <a href="../index.html" class="menu">Inicio</a>
        </li>
        @@ -15,7 +16,7 @@
        <li class="lista-menu">
          <a href="Formación-habilidades.html" class="menu"
            >Formación/Habilidades</a
          >
        </li>
      </ul>
    </nav>

    <!--Div que contiene el Perfil Profesional-->
    <div id="per">
      <h2 class="pex">Perfil Profesional</h2>
      <p id="per2"></p>
    </div>
    <!--Div que contiene la experiencia laboral-->
    <div id="exp">
      <h2 class="pex">Experiencia laboral</h2>
      <ul id="exp3">
        <li class="exp4">
          <span class="exp5">2020-2021:</span>En prácticas en una pequeña
          empresa realizando tareas menores.
        </li>
        <br /><br />
        <li class="exp4">
          <span class="exp5">2021-2022:</span>Contratado durante un año en la
          misma empresa, ya realizando alguna que otra tarea con mayor
          dificultad.
        </li>
      </ul>
    </div>
  </body>
</html>
