<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil/Experiencia</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>
<body>
    <!--Menú-->
    <nav>
        <ul id="lista-menu">
            <li class="lista-menu"><a href="../index.html" class="menu">Inicio</a></li>
            <li class="lista-menu"><a href="Datos-personales.html" class="menu">Datos Personales</a></li>
            <li class="lista-menu"><a href="Perfil-experiencia.html" class="menu">Perfil/Experiencia</a></li>
            <li class="lista-menu"><a href="Formación-habilidades.html" class="menu">Formación/Habilidades</a></li>
        </ul>
    </nav>
    <!--Div que contiene el Perfil Profesional-->
    <div id="per">
        <h2 class="pex">Perfil Profesional</h2>
        <p id="per2">
            Soy un programador apasionado que acaba de graduarse, ansioso por sumergirse en el mundo profesional y 
            absorber cada experiencia que se presente en mi camino. Mi enfoque está impregnado de entusiasmo por 
            aprender y contribuir en proyectos desafiantes. Mi flexibilidad y capacidad para trabajar armoniosamente en equipo son cualidades 
            que considero fundamentales para un entorno de trabajo eficiente.
        </p>
    </div>
    <!--Div que contiene la experiencia laboral-->
    <div id="exp">
        <h2 class="pex">Experiencia laboral</h2>
        <ul id="exp3">
            <li class="exp4"><span class="exp5">2020-2021:</span>En prácticas en una pequeña empresa realizando tareas menores.</li>
            <br/><br/>
            <li class="exp4"><span class="exp5">2021-2022:</span>Contratado durante un año en la misma empresa,
                 ya realizando alguna que otra tarea con mayor dificultad.</li>
        </ul>
    </div>
</body>
</html>